@import "reset.css";
@import url(nav.css);
body {
  /* min-width: 500px;
  max-width: 1170px; */
  color: #959595;
  font-size: 14px;
  background-color: #fff;
}
/* Стили для больших экранов */
@media screen and (min-width: 780px) {
  main {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
  }
  article {
    flex: 0 0 calc(33.333% - 20px); /* Распределяем статьи на 3 колонки с отступами между ними */
    margin-right: 20px;
  }

  /* Убираем маргин справа у последней статьи */
  article:last-child {
    margin-right: 0;
  }
}


body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 
.container {
  padding: 20px;
}
.div700x300 {
   
  height: 300px;
  background-color: #ededed;
  border-radius: 6px;
}

.div700x300 p {
  line-height:300px;
  font-weight: bold;
  color: #ababab;
  font-size: 25px;
}

.green {
  height: 338px;
  background-color: #9acd32;
  color: #adff2f;
  padding: 20px;
  text-align: center;
}

.green h1 {
  font-size: 36px;
}

.green p {
  font-size: 21px;
}


.green a.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.green a.btn:hover {
  background-color: #0056b3;
}

header {
  grid-area: header;
  padding: 20px;
  font-size: 24px;
}
nav {
  grid-area: menu;
  background-color: #222;
  padding: 20px;
  font-size: 18px;
}

main {
  grid-area: content;
  justify-content: center;
  align-items: center;
  align-items: stretch; /* Растягиваем статьи по вертикали */
  padding: 0 50px; /* Отступы по краям контейнера */
  /* box-sizing: border-box; отступы внутри ширины контейнера */
}
.pre-footer{
  grid-area: pre-footer;
  background-color: #daa520;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  padding: 60px 12vw;
}
.Superior{
  color: #000;
}
.Visualize{
  color: #777;
}
footer {
  grid-area: footer;
  padding: 20px;
  font-size: 18px;
  height: 120px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-size: 14px;
  padding-left: 5vw;
  padding-right: 5vw;
}
.main-img{
  width: 700px; 
  height: 300px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'menu'
    'jumbotron'
    'header'
    'content'
    'pre-footer'
    'footer';
}

.grid-container > * {
  text-align: center;
  font-size: 18px;
}


.div100x100 {
  height: 100px;
  width: 100px;
  background-color: #ededed;
  border-radius: 50px;
}

.div-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.div-form:nth-child(1) {
  margin-right: 60px;
}

.div-form:nth-child(3) {
  margin-left: 60px;
}

.div-form p:nth-child(2) {
  width: 300px;
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.div-form p:nth-child(3) {
  font-size: 14px;
  width: 330px;
  line-height: 1.42857143;
}

.div-form a {
  padding: 6px 12px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.div-form a:hover {
  background-color: #ececec;
}

.div100x100 p {
  font-weight: bold;
  color: #ababab;
  font-size: 13px;
  line-height: 100px;
}


